.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.title {
    margin-top: 3rem;
}

.filterBox {
    display: flex;
    width: 100%;
    gap: 10px;
    margin: 10px 0;
    align-items: end;
}

.gridBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 5px;
}

@media (max-width: 600px) {
    .gridBox {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .filterBox {
        flex-wrap: wrap;
    }

    .fullWidthButton {
        width: 100%;
    }
}
