.fieldset {
    border: 1px solid #47967f;
    padding: 5px;
    border-radius: 5px;
    min-width: 300px;
    width: 100%;
    height: max-content;
}

.textarea {
    border: none;
    margin-inline: 5px;
    width: 100%;
    font-size: medium;
    resize: none;
}

.legend {
    padding: 0 5px;
    border-radius: 5px;
}

.textarea:focus {
    outline: none;
}
